ul.tasks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.task-item {
  display: grid;
  grid-template-areas:
    'title status'
    'title priority';
  align-items: center;

  h2 {
    grid-area: title;
  }

  p.status {
    grid-area: status;
  }

  p.priority {
    grid-area: priority;
  }
}

.search-area {
  width: 100%;
  margin-bottom: 0.5rem;
}

input.search-input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background-color: inherit;

  &:focus-visible {
    outline: none;
  }
}
