<ng-container *ngIf="tasks$ | async as tasks">
  <div class="search-area">
    <input type="text" class="search-input" [(ngModel)]="searchValue" placeholder="Search for a task" />
  </div>

  <ul class="tasks-list">
    <app-list-card *ngFor="let task of tasks | highlightFilter: searchValue">
      <div class="task-item">
        <h2><span [innerHTML]="task.title"></span></h2>
        <p>Prio: <span [innerHTML]="task.priority"></span></p>
        <p>Status: <span [innerHTML]="task.status"></span></p>
      </div>
    </app-list-card>
  </ul>
</ng-container>

<app-pre-code [input]="tasks$ | async"></app-pre-code>
